body {
    background-color: black;
    text-align: center;
    font-size: 120%;
}
h1 {
    font-size: 3em;
    color: rgb(255, 248, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    font-size: 110%;
    color: rgb(255, 250, 240);
    text-decoration: none;
    background-color: rgba(250, 235, 215, 0.188);
}
h3 {
    color: bisque;
    font-size: 160%;
}
a:hover {
    background-color: rgba(127, 255, 212, 0.112);
    text-decoration: underline;
}